adsurv-backend-django
adsurv_backend
adsurv_jeremy
adsurv
django_20
django-jet
flask_projects
myshop
violent_python
django-bootstrap4
EndJahrProjekt/image_classification-master
EndJahrProjekt/.vscode
libsys

*.pyc
*.code-workspace

