{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"  href="{% static 'style.css' %}"  />
    <link rel="stylesheet"  href="{% static 'join.css' %}"  />
    <title>Home Page</title>
</head>
<body class="full-height-grow">
    <div class="custom-container full-height-grow">
   <header class="main-header">
     <a href="/" class="brand-logo">
       <!-- <%--<img src="images/logo.png"/>--%> -->
       <div class="brand-logo-name">HarvestMore</div>
     </a>
     <nav class="main-nav">
       <ul>
         {% if user.is_authenticated %}
         <li><a href="{% url 'profile' %}">{{ user.username}}</a></li>
         <li><a href="{% url 'logout' %}">Logout</a></li>
         {% else %}
         <li><a href="{% url 'login' %}">Login</a></li>
         {% endif %}
         
       </ul>
     </nav>
   </header>
    <section class="classify-main-section" id="deactivate-user">
         
               <div class="description">
                   <h1 class="join-text">Cassava Disease Image Classification System</h1>
                   
               </div>
           
       </section>
 </div>

   <div class="join-page-circle-1"></div>
 <div class="join-page-circle-2"></div>

  
   <footer class="main-footer">
   <div class="custom-container">
     <nav class="footer-nav">
       <ul>
         <li><a href="#">About Us</a></li>
         <li><a href="#">Contact</a></li>
       </ul>
     </nav>
    
   </div>
 </footer>
</body>
</html>